@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}


:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
  
  /* --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem); */
}

@theme {
  /* --font-size-xs: var(--step--2);
  --font-size-sm: var(--step--1);
  --font-size-base: var(--step-0);
  --font-size-lg: var(--step-1);
  --font-size-xl: var(--step-2);
  --font-size-2xl: var(--step-3);
  --font-size-3xl: var(--step-4);
  --font-size-4xl: var(--step-5); */

  --color-foreground: oklch(40% 0.1357 285);
  --color-background: oklch(99% 0% 0deg);

  --color-primary: oklch(20% 50% 275deg);
  --color-primary-foreground: oklch(98% 0% 0deg);
  
  --color-secondary: oklch(98% 0% 0deg);
  --color-secondary-foreground: oklch(20% 50% 275deg);

  --color-card: oklch(98% 0% 0deg);
  --color-card-foreground: oklch(20% 50% 275deg);

  --color-muted: oklch(90% 0% 0deg);
  --color-muted-foreground: oklch(70% 0% 0deg);

  --color-accent: oklch(20% 50% 275deg);
  --color-accent-foreground: oklch(98% 0% 0deg);

  --color-popover: oklch(98% 0% 0deg);
  --color-popover-foreground: oklch(20% 50% 275deg);
  
  --color-destructive: oklch(98% 0% 0deg);
  --color-destructive-foreground: oklch(20% 50% 275deg);
  
  --color-border: oklch(20% 50% 275deg);
  --color-input: oklch(20% 50% 275deg);
  --color-ring: oklch(20% 50% 275deg);
  --color-chart-1: oklch(20% 50% 275deg);
  --color-chart-2: oklch(98% 0% 0deg);
  --color-chart-3: oklch(20% 50% 275deg);

  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-lg: 1rem;

}

@theme dark {

}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
  @apply bg-background text-foreground;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings:
      "rlig" 1,
      "calt" 1;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

nav a {
  @apply transition-all hover:bg-foreground hover:text-background dark:hover:text-neutral-200;

  &:hover {
    @apply bg-foreground text-background dark:text-neutral-200;
  }

  &.active {
    @apply bg-foreground text-background dark:text-neutral-200;
  }
}
